@font-face {
    font-family: 'Arima';
    src: url('../fonts/ArimaKoshi-Regular.otf');
}
.ShowMore {
    color: #fff;
    background: #0e2453;
    left: 80%;
    padding: 0.5em;
    width: 10%;

}
.navsq{
    padding-top: 40px;
    padding-bottom: 20px;
}
.Title{
    padding-top: 20px;
    padding-bottom: 10px;
    Font: 30px OpenSans-Regular;
    color: green;
}
.Blog-content{
    padding-left: 350px;
}
.Show {
    padding-left: 700px;

}
.newss{
    font-size: 18px;
    color: darkblue;
    text-transform: uppercase;
}

.img-avatar{

    width: 70px;
    border-radius: 50%;
}
.flex {
    display: flex;
}
.flex.blogcontent {
    padding-left: 10px;
    flex-direction: column;
}
.avatar-name{
    font-size: 12px;
    color:#c3c1c1;
}
.auteur{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin-top: -10px;
    padding-bottom: 10px;
}
.rightBlog{
    color: black;
    Font: 17px OpenSans-Regular;
}
.navigations{
    color: black;
    Font: 17px OpenSans-Regular;
}
.News{
    float: right;
    padding-top: 50px;
    margin-right:10%;
    margin-left:15px;
}
.contenue{
    padding-bottom: 150px;

}

.wrapper-theme2 {
    font-family: Arima;
}

.wrapper-theme2 .navbar {
    background: #0b5334;
}
.wrapper-theme2 .navbar-light .navbar-nav .nav-link {
    color: #afafaf !important;
}

.wrapper-theme2 .navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff !important;
}

.wrapper-theme2 .navbar-light .navbar-nav .active>.nav-link,
.wrapper-theme2 .navbar-light .navbar-nav .nav-link.active,
.wrapper-theme2 .navbar-light .navbar-nav .nav-link.show,
.wrapper-theme2 .navbar-light .navbar-nav .show>.nav-link {
    color: #ffffff ;
}

.wrapper-theme2 .navbar .navbar-brand img {
    width: 100px;
}





.section-best_category {

    background-image: url("../assets/img/img2.jpg");
    padding-top: 50px;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    background-size: cover;

}

.section-best_category .best_category_text {
    font-size: 30px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.section-best_category .best_category_desc {
    font-size: 17px;
    margin-bottom: 55px;
}
.best_category_list .toggle_btn {
    position: absolute;
    right: -17px;
    top: -25px;
    z-index: 1;
}
.Test h3{
    margin-top: 25px;
    padding-bottom: 3px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    line-height: 1.3333333;
    text-transform: uppercase;
}
h5{
    margin-top: 25px;
    padding-bottom: 3px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    line-height: 1.3333333;
    text-transform: uppercase;
}
h1{
    font-size: 35px;
    font-family: Gotham, sans-serif,Gotham, sans-serif, system-ui ;


}
a{color: #005fb9;
    font-family: Gotham, sans-serif,Gotham, sans-serif, system-ui ;
    font-size: 18px;

}
.esm a{
    color: black;
    font-family: "Yu Gothic UI Semilight";

}
li {
    text-align: -webkit-match-parent;
}
span.gauche {
    float: left;
}
.prod-d{
    margin-right:18%;
    margin-left:18px;

    float: right;
    width: 20%;
}
ul {
    padding: 0;
    margin: 0;
    color: #94a2a8;
}

.read-more h3{
    margin-top: 25px;
    padding-bottom: 3px;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    line-height: 1.3333333;
    text-transform: uppercase;


}
.img-circle {
    border-radius: 50%;
}
.nw-post-header-lower {
    font-size: 14px;
    color: #94a2a8;
    padding: 2px 0 4px;
    margin-bottom: 0;
}
.esm{
    display: inline-block;
    margin: 0;
}
.nw-post-header-meta-info{
    display: inline-flex;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    line-height: 1.4;
}
.author__image {
    float: left;
    margin-right: 10px;
}
span.droite {
    float: right;
}
.toggle_btn .icon_btn {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 44px;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(99, 99, 99, 0.67);
    cursor: pointer;
    color: #1F77D0;
}

.best_category_list {
    display: flex;
    flex-wrap: wrap;
}

.best_category_list .list_category {
    width: 100%;
    position: relative;
}


.best_category_list .best_category_border {
    border: dashed 2px #d8d8d8;
    padding: 10px;
    min-height: 150px;
    width: 75%;
}



.best_category_list .best_category_item {
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(99, 99, 99, 0.67);
    margin-bottom: 10px;
    height: 100%;
    position: relative;
    text-decoration: none;
    padding: 15px;
    color: #2c2c2c;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.best_category_list .best_category_item img {
    width: 60px;
    opacity: 0.6;
    margin-bottom: 5px;
}

.best_category_list .editor_category {
    position: relative;
    width: 25%;
}
.best_category_list .editor_category .editor_list_category {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(119, 118, 114, 0.71);
    padding-top: 15px;
    padding-bottom: 15px;
    background: #FFFFFF;
    position: absolute;
    right: 15px;
    left: 15px;
}

.best_category_list .best_category_item .category_item_icon {
    font-size: 25px;
}

.best_category_list .best_category_item .category_item_text {
    font-size: 16px;
    margin: 0;
}

.best_category_list .editor_category .editor_list_category .title_list_category {
    display: block;
    font-weight: bold;
    font-size: 17px;
    padding-right: 15px;
    padding-left: 15px;
}

.best_category_list .editor_category .editor_list_category .item_category {
    padding: 10px 15px;
    border-top: 1px solid #E1E1E1;
    cursor: pointer;
}

.best_category_list .toggle_icon {
    position: absolute;
    right: 15px;
    margin-top: 2px;
    font-size: 15px;
    cursor: pointer;
    color: #1F77D0;
}















/* breadcrumb */

.wrapper-theme2 .breadcrumb {
    color: #5e5e5e;
    background: transparent;
    padding: 25px 0;
    justify-content: center;
    text-transform: capitalize;

}

.wrapper-theme2 .breadcrumb a.navigation_page {
    text-decoration: none;
    color: #0b5334;
}

.wrapper-theme2 .breadcrumb .navigation_pipe {
    padding-left: 5px;
    padding-right: 5px;
}









/* category */



/* category */

.wrapper-theme2 .category_intro {
    margin-bottom: 50px;
}

.wrapper-theme2 .category_intro .category_name {
    font-size: 27px;
    color: #0b5334;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.wrapper-theme2 .category_intro .category_text {
    font-size: 15px;
}

.wrapper-theme2 .category_list_subcategory {
    margin-top: 90px;
}
.wrapper-theme2 .category_list_subcategory .list_subcategory_item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 30px;
    text-decoration: none;
    text-align: center;
}

.wrapper-theme2 .category_list_subcategory .list_subcategory_item .subcategory_item_img {
    width: 80px;
    margin-bottom: 15px;
    opacity: 0.6;
}

.wrapper-theme2 .category_list_subcategory .list_subcategory_item:hover .subcategory_item_img {
    opacity: 0.8;
}

.wrapper-theme2 .category_list_subcategory .list_subcategory_item .subcategory_item_title {
    font-size: 20px;
    margin-bottom: 0;
    color: #5e5e5e;
}

.wrapper-theme2 .category_list_subcategory .list_subcategory_item:hover .subcategory_item_title {
    color: #2c2c2c;
}

.wrapper-theme2 .toolbar_filter {
    display: flex;
    justify-content: flex-end;
}

.wrapper-theme2 .toolbar_filter .filter_sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper-theme2 .toolbar_filter .filter_sort .sort_text {
    width: 100%;
    text-transform: capitalize;
}
.wrapper-theme2 .toolbar_filter .filter_sort .editor_input {
    padding: 0;
}

.wrapper-theme2 .toolbar_filter .filter_sort select {
    margin-left: 15px;
    width: auto;
}

.wrapper-theme2 .list_product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper-theme2 .product_list_item {
    border: 1px solid #E1E1E1;
    margin: 15px 0;
    padding: 15px;
    border-radius: 5px;
    width: 48%;
    background: #FFFFFF;
}

.wrapper-theme2 .product_list_item .product_item_img {
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
}

.wrapper-theme2 .product_list_item .product_item_img img {
    width: 65%;
}

.wrapper-theme2 .product_list_item  .product_item_title {
    font-size: 24px;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.wrapper-theme2 .product_list_item .product_item_btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.wrapper-theme2 .product_list_item .product_item_btn .btn {
    color: #FFFFFF;
    font-size: 13px;
    position: relative;
    font-weight: 200;
    width: 150px;
}

.wrapper-theme2 .product_list_item .product_item_btn .btn .icon_btn {
    font-size: 9px;
    padding-right: 4px;
}

.wrapper-theme2 .product_list_item .product_item_btn .btn .icon_btn .nc-icon {
    margin-left: -4px;
}

.wrapper-theme2 .product_list_item .product_item_prop {
    display: flex;
    flex-wrap: wrap;
}

.wrapper-theme2 .product_list_item .product_item_prop .product_prop {
    font-size: 14px;
    width: 170px;
    padding: 15px 0;
}

.wrapper-theme2 .product_list_item .product_item_prop .product_prop .prop_title {
    display: block;
    color: #5e5e5e;
}

.wrapper-theme2 .product_list_item .product_item_prop .product_prop .prop_info {
    color: #2c2c2c;
    font-size: 17px;
}


.wrapper-theme2 .toolbar_bottom {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.wrapper-theme2 .toolbar_bottom .more_product {
    position: relative;
    padding-left: 45px;
    padding-right: 45px;
}

.wrapper-theme2 .toolbar_bottom .more_product .editor_input {
    text-align: center;
}

.wrapper-theme2 .toolbar_bottom .more_product .toggle_btn {
    position: absolute;
    display: none;
    z-index: 1;
    right: 0px;
    top: 10px;
}


.wrapper-theme2 .toolbar_bottom .more_product:hover .toggle_btn {
    display: block;
}





/* product page */

.wrapper-theme2 .content_product {
    margin-bottom: 70px;
}

.wrapper-theme2 .content_product .product_header {
    border: 1px solid #E1E1E1;
    padding: 15px;
}

.wrapper-theme2 .content_product .product_header .product_img {
    width: 100%;
}

.wrapper-theme2 .content_product .product_header .product_title {
    font-size: 25px;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.wrapper-theme2 .content_product .product_prop {
    margin-top: 70px;
}

.wrapper-theme2 .content_product .product_prop .product_prop_title {
    font-size: 20px;
}

.wrapper-theme2 .content_product .product_prop .table_prop {
    border: 1px solid #E1E1E1;
}

.wrapper-theme2 .content_product .product_prop .table_prop tbody th {
    padding: 15px;
    color: #5e5e5e;
}

.wrapper-theme2 .content_product .list_product_desc {
    margin-top: 70px;
}

.wrapper-theme2 .content_product .list_product_desc .product_desc .product_desc_title {
    font-size: 19px;
    margin-top: 15px;
}

.wrapper-theme2 .content_product .list_product_desc  .product_desc .product_desc_parag {
    color: #5e5e5e;
    font-size: 16px;
    line-height: 32px;
}

.wrapper-theme2 .content_product .list_product_desc  .product_desc .toggle_btn {
    position: absolute;
    right: 15px;
    top: 0px;
    display: none;
    z-index: 1;
}

.wrapper-theme2 .content_product .list_product_desc  .product_desc:hover .toggle_btn {
    display: block;
}



/* editor input */
.wrapper-theme2 .editor_input {
    text-align: right;
    background: transparent;
    border: 0px;
    text-transform: capitalize;
    color: #2c2c2c !important;
    font-weight: 400;
    font-size: 14px;
    font-family: Arima;
    padding: 0;
}

.editor_input:focus {
    border: 0;
}








/* color primary , secondary */

.wrapper-theme2 .btn {
    font-family: Arima;
}

.wrapper-theme2 .btn-primary {
    background: #0b5334;
}

.wrapper-theme2 .btn-primary:hover, .btn-primary:focus {
    background: #0b5334 !important;
}

.wrapper-theme2 .btn-secondary {
    background: #E1E1E1;
    color: #2c2c2c !important;
}

.wrapper-theme2 .btn-secondary:hover , .wrapper-theme2 .btn-secondary:focus  {
    background: #afafaf !important;
    color: #2c2c2c !important;
}

.wrapper-theme2 .bg-primary {
    background: #0b5334 !important;
    color: #FFFFFF !important;
}

.wrapper-theme2 .bg-secondary {
    background: #E1E1E1 !important;
    color: #2c2c2c !important;
}
