@font-face {
    font-family: 'Arima';
    src: url('../fonts/ArimaKoshi-Regular.otf');
}

.wrapper-theme2 {
    font-family: Arima;
}

.wrapper-theme2 .navbar {
    background: #0b5334;
}
.wrapper-theme2 .navbar-light .navbar-nav .nav-link {
    color: #afafaf !important;
}

.wrapper-theme2 .navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff !important;
}

.wrapper-theme2 .navbar-light .navbar-nav .active>.nav-link,
.wrapper-theme2 .navbar-light .navbar-nav .nav-link.active,
.wrapper-theme2 .navbar-light .navbar-nav .nav-link.show,
.wrapper-theme2 .navbar-light .navbar-nav .show>.nav-link {
    color: #ffffff ;
}

.wrapper-theme2 .navbar .navbar-brand img {
    width: 100px;
}





.section-best_category {

    background-image: url("../assets/img/img2.jpg");
    padding-top: 50px;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    background-size: cover;

}

.section-best_category .best_category_text {
    font-size: 30px;
    margin-bottom: 25px;
}

.section-best_category .best_category_desc {
    font-size: 17px;
    margin-bottom: 55px;
}
.section-best_category .toggle_btn {
    position: absolute;
    right: -17px;
    top: -25px;
    z-index: 1;
}

.toggle_btn .icon_btn {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 44px;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(99, 99, 99, 0.67);
    cursor: pointer;
    color: #1F77D0;
}

.best_category_list {
    display: flex;
    flex-wrap: wrap;
}

.best_category_list .list_category {
    width: 100%;
    position: relative;
}


.best_category_list .best_category_border {
    border: dashed 2px #d8d8d8;
    padding: 10px;
    min-height: 150px;
    width: 75%;
}



.best_category_list .best_category_item {
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(99, 99, 99, 0.67);
    margin-bottom: 10px;
    position: relative;
    text-decoration: none;
    padding: 15px;
    color: #2c2c2c;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.best_category_list .best_category_item img {
    width: 60px;
    opacity: 0.6;
    margin-bottom: 5px;
}

.best_category_list .editor_category {
    position: relative;
    width: 25%;
}
.best_category_list .editor_category .editor_list_category {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(119, 118, 114, 0.71);
    padding-top: 15px;
    padding-bottom: 15px;
    background: #FFFFFF;
    position: absolute;
    right: 15px;
    left: 15px;
}

.best_category_list .best_category_item .category_item_icon {
    font-size: 25px;
}

.best_category_list .best_category_item .category_item_text {
    font-size: 16px;
    margin: 0;
}

.best_category_list .editor_category .editor_list_category .title_list_category {
    display: block;
    font-weight: bold;
    font-size: 17px;
    padding-right: 15px;
    padding-left: 15px;
}

.best_category_list .editor_category .editor_list_category .item_category {
    padding: 10px 15px;
    border-top: 1px solid #E1E1E1;
    cursor: pointer;
}

.best_category_list .toggle_icon {
    position: absolute;
    right: 15px;
    margin-top: 2px;
    font-size: 15px;
    cursor: pointer;
    color: #1F77D0;
}















/* breadcrumb */

.wrapper-theme2 .breadcrumb {
    color: #5e5e5e;
    background: transparent;
    padding: 25px 0;
    justify-content: center;

}

.wrapper-theme2 .breadcrumb a.navigation_page {
    text-decoration: none;
    color: #0b5334;
}

.wrapper-theme2 .breadcrumb .navigation_pipe {
    padding-left: 5px;
    padding-right: 5px;
}









/* category */



/* category */

.wrapper-theme2 .category_intro {
    margin-bottom: 50px;
}

.wrapper-theme2 .category_intro .category_name {
    font-size: 27px;
    color: #0b5334;
    margin-bottom: 30px;
}

.wrapper-theme2 .category_intro .category_text {
    font-size: 15px;
}

.wrapper-theme2 .category_list_subcategory {
    margin-top: 90px;
}
.wrapper-theme2 .category_list_subcategory .list_subcategory_item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    padding: 25px;
    margin-bottom: 30px;
    text-decoration: none;
}

.wrapper-theme2 .category_list_subcategory .list_subcategory_item .subcategory_item_img {
    width: 80px;
    margin-bottom: 15px;
    opacity: 0.6;
}

.wrapper-theme2 .category_list_subcategory .list_subcategory_item:hover .subcategory_item_img {
    opacity: 0.8;
}

.wrapper-theme2 .category_list_subcategory .list_subcategory_item .subcategory_item_title {
    font-size: 20px;
    margin-bottom: 0;
    color: #5e5e5e;
}

.wrapper-theme2 .category_list_subcategory .list_subcategory_item:hover .subcategory_item_title {
    color: #2c2c2c;
}

.wrapper-theme2 .toolbar_filter {
    display: flex;
    justify-content: flex-end;
}

.wrapper-theme2 .toolbar_filter .filter_sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.wrapper-theme2 .toolbar_filter .filter_sort .sort_text {
    width: 100%;
    text-transform: capitalize;
}
.wrapper-theme2 .toolbar_filter .filter_sort .editor_input {
    padding: 0;
}

.wrapper-theme2 .toolbar_filter .filter_sort select {
    margin-left: 15px;
    width: auto;
}

.wrapper-theme2 .list_product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper-theme2 .product_list_item {
    border: 1px solid #E1E1E1;
    margin: 15px 0;
    padding: 15px;
    border-radius: 5px;
    width: 48%;
    background: #FFFFFF;
}

.wrapper-theme2 .product_list_item .product_item_img {
    display: flex;
    justify-content: center;
}

.wrapper-theme2 .product_list_item .product_item_img img {
    width: 80%;
}

.wrapper-theme2 .product_list_item  .product_item_title {
    font-size: 24px;
    margin-bottom: 30px;
}

.wrapper-theme2 .product_list_item .product_item_btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.wrapper-theme2 .product_list_item .product_item_btn .btn {
    color: #FFFFFF;
    font-size: 13px;
    position: relative;
    font-weight: 200;
    width: 150px;
}

.wrapper-theme2 .product_list_item .product_item_btn .btn .icon_btn {
    font-size: 9px;
    padding-right: 4px;
}

.wrapper-theme2 .product_list_item .product_item_btn .btn .icon_btn .nc-icon {
    margin-left: -4px;
}

.wrapper-theme2 .product_list_item .product_item_prop {
    display: flex;
    flex-wrap: wrap;
}

.wrapper-theme2 .product_list_item .product_item_prop .product_prop {
    font-size: 14px;
    width: 170px;
    padding: 15px 0;
}

.wrapper-theme2 .product_list_item .product_item_prop .product_prop .prop_title {
    display: block;
    color: #5e5e5e;
}

.wrapper-theme2 .product_list_item .product_item_prop .product_prop .prop_info {
    color: #2c2c2c;
    font-size: 17px;
}




/* product page */

.wrapper-theme2 .content_product {
    margin-bottom: 70px;
}

.wrapper-theme2 .content_product .product_header {
    border: 1px solid #E1E1E1;
}

.wrapper-theme2 .content_product .product_header .product_img img{
    width: 100%;
}

.wrapper-theme2 .content_product .product_header .product_title {
    font-size: 25px;
    margin-top: 35px;
    margin-bottom: 15px;
}

.wrapper-theme2 .content_product .product_prop {
    margin-top: 70px;
}

.wrapper-theme2 .content_product .product_prop .product_prop_title {
    font-size: 20px;
}

.wrapper-theme2 .content_product .product_prop .table_prop {
    border: 1px solid #E1E1E1;
}

.wrapper-theme2 .content_product .product_prop .table_prop tbody th {
    padding: 15px;
    color: #5e5e5e;
}

.wrapper-theme2 .content_product .product_desc {
    margin-top: 70px;
}

.wrapper-theme2 .content_product .product_desc .product_desc_title {
    font-size: 19px;
    margin-top: 15px;
}

.wrapper-theme2 .content_product .product_desc .product_desc_parag {
    color: #5e5e5e;
    font-size: 16px;
    line-height: 32px;
}



/* editor input */
.wrapper-theme2 .editor_input {
    text-align: right;
    border: 0px;
    text-transform: capitalize;
    color: #2c2c2c !important;
    font-weight: 400;
    font-size: 14px;
    font-family: Arima;
}

.editor_input:focus {
    border: 0;
}






/* color primary , secondary */

.wrapper-theme2 .btn {
    text-transform: none;
    font-weight: normal;
    font-size: medium;
}

.wrapper-theme2 .btn-primary {
    background: #0b5334;
}

.wrapper-theme2 .btn-primary:hover, .btn-primary:focus {
    background: #0b5334 !important;
}

.wrapper-theme2 .bg-primary {
    background: #0b5334 !important;
    color: #FFFFFF !important;
}

.wrapper-theme2 .bg-secondary {
    background: #E1E1E1 !important;
    color: #2c2c2c !important;
}
