@font-face {
    font-family: 'Arima';
    src: url('../fonts/ArimaKoshi-Regular.otf');
}

body {
    font-family: Arima;
}
.navbar {
    background: #0b5334;
}
.navbar-light .navbar-nav .nav-link {
    color: #afafaf !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ffffff !important;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #ffffff ;
}

.navbar .navbar-brand img {
    width: 100px;
}
